a(id="main")
header(class="header")
    a(href="#main") 
        img(src="../../assets/images/logo.png", alt="logo")
    div(class="burger")
        span(class="burger__span first")
        span(class="burger__span second")
        span(class="burger__span third")
    ul(class="menu make-lower")
        li(class="menu__item") Каталог товаров
        li(class="menu__item") доставка и оплата 
        li(class="menu__item") ЦЕНЫ
        li(class="menu__item") Контакты
    a(class="phone", href="tel:+78125092198") 
        span(class="phone__regular") +7 (812) 
            span(class="phone__fat") 509 21 98
    span(class="call-me") перезвоните мне
    div(class="icons")
        ul(class="icons__list")
            li(class="icons__list-item")
                a(href="#vk")
                    img(src="../../assets/images/vk.svg", alt="vk")
            li(class="icons__list-item")
                a(href="#telegram")
                    img(src="../../assets/images/telegram.svg", alt="telegram")
            li(class="icons__list-item")
                a(href="#instageram")
                    img(src="../../assets/images/inst.svg", alt="instagram")
            li(class="icons__list-item")
                a(href="#whatsapp")
                    img(src="../../assets/images/whatsapp.svg", alt="whatsapp")
    div(class="circles")
        div(class="circles__element")
            img(class="circles__element-search" src="../../assets/images/loupe.svg", alt="loupe")
        div(class="circles__element")
            img(class="circles__element-heart" src="../../assets/images/heart.svg", alt="heart")
        div(class="circles__element")
            img(class="circles__element-shopping-cart" src="../../assets/images/shopping-cart.svg", alt="shopping-cart")
